<footer> class="container" style="margin=tap: 100px;">
  <p class="text-center">Copyright @2017 Rails103宁阿度
    <br>Design by
      <a href="http://courses.grourhschool.com/courses/rails-103/" target=_new>宁阿度Carolinefoox</a>
      
  </p>
  <footer>
